<!DOCTYPE html>
<html>
<head>
  <title>Teacher Logout</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Teacher Logout</h1>
  <p>You have been successfully logged out as a teacher.</p>
  <p>Goodbye!</p>
</body>
</html>
