
<!DOCTYPE html>
<html>
<head>
  <title>Sign Out</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Sign Out</h1>
  </header>

  <main>
    <h2>Successfully Signed Out</h2>
    <p>You have been successfully signed out. Bye Bye!</p>
    <a href="/login">Sign In</a>
  </main>

  <footer>
    &copy; <%= Time.now.year %> Alisso - Student Management System
  </footer>
</body>
</html>
