<% erb :'layout', layout: true do %>
    <h1>Delete Teacher</h1>

<p>Are you sure you want to delete the teacher <strong><%= @teacher.name %></strong>?</p>

<form action="/teachers/<%= @teacher.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>
