<% erb :'layout', layout: true do %>
    <h1>All Teachers</h1>

    <h1>Teacher Details</h1>

    <p>Name: <%= @teacher.name %></p>
    <p>Email: <%= @teacher.email %></p>
    <p>Phone: <%= @teacher.phone %></p>
    <p>Subject: <%= @teacher.subject %></p>
    
